<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title%}
        Document
        {% endblock %}
    </title>

</head>

<body>
    <table>
        <tr>
            <td>
                <h1>header</h1>
            </td>
        </tr>

        <tr>
            <td>

                {% block content%}
                content
                {% endblock %}

            </td>
        </tr>

        <tr>
            <td>
                <h1>footer</h1>
            </td>
        </tr>
    </table>
</body>

</html>