{% extends 'base.html' %}

{% block title %}
insert trainee
{% endblock%}
{% block content%}

<h1>Insert Trainee</h1>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <label for="trname">Name</label>
    <input type="text" id="trname" name="trname">
    <br>

    <label for="tremail">Email</label>
    <input type="text" id="tremail" name="tremail">
    <br>

    <label for="trimg">Image</label>
    <input type="file" id="trimg" name="trimg">
    <br>
    <button type="submit">Add Trainee</button>
</form>


{% endblock %}